# c2c
public net.minecraft.client.multiplayer.AccountProfileKeyPairManager keyPair
# public net.minecraft.network.protocol.ProtocolInfoBuilder protocolUnbound(Lnet/minecraft/network/ConnectionProtocol;Lnet/minecraft/network/protocol/PacketFlow;Ljava/util/function/Consumer;)Lnet/minecraft/network/ProtocolInfo$Unbound;

# Command Handling
public net.minecraft.client.gui.Gui overlayMessageTime
public net.minecraft.client.gui.components.CommandSuggestions ARGUMENT_STYLES
public net.minecraft.network.chat.HoverEvent$Action legacyCodec
public net.minecraft.network.chat.HoverEvent <init>(Lnet/minecraft/network/chat/HoverEvent$TypedHoverEvent;)V
public net.minecraft.network.chat.HoverEvent$TypedHoverEvent

# Data Query Handler
public net.minecraft.client.DebugQueryHandler transactionId

# cfinditem
public net.minecraft.world.inventory.AbstractContainerMenu menuType
public net.minecraft.world.level.block.ShulkerBoxBlock canOpen(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/entity/ShulkerBoxBlockEntity;)Z

# cfish
public net.minecraft.world.entity.projectile.FishingHook canHitEntity(Lnet/minecraft/world/entity/Entity;)Z

# chat
public net.minecraft.client.Minecraft openChatScreen(Ljava/lang/String;)V

# ckit
protected-f net.minecraft.client.gui.screens.inventory.EffectRenderingInventoryScreen renderEffects(Lnet/minecraft/client/gui/GuiGraphics;II)V

# clisten
public net.minecraft.network.Connection channel
public net.minecraft.network.PacketDecoder protocolInfo
public net.minecraft.network.PacketEncoder protocolInfo
public net.minecraft.network.codec.IdDispatchCodec toId

# cpermissionlevel
public net.minecraft.client.player.LocalPlayer getPermissionLevel()I

# Game Options
public net.minecraft.client.OptionInstance value

# Length Extender
public net.minecraft.client.gui.components.EditBox maxLength

# Render Queue
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard$LineStateShard

# RNG Events
public net.minecraft.world.entity.LivingEntity lastHurt
public net.minecraft.world.entity.decoration.ArmorStand invisible
public net.minecraft.world.level.levelgen.LegacyRandomSource seed

# NeoForge
public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.world.entity.LivingEntity lastPos
